.header-class {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.footer-class {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.content-class {
  position: absolute;
  top: 70px;
  bottom: 30px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
