.change-info-container {
    margin-top: 168px;
    margin-bottom: 113px;
}

@media only screen and (max-width: 768px) {
    .change-info-container {
        margin-top: 258px;
        margin-bottom: 238px;
    }
}

.btn-nav-bar {
    border-color: #282d42 !important;
}

.btn-nav-bar img {
    width: 35px;
    height: 35px;
}

.page-footer {
    background-color: #282d42 !important;
    border-color: #282d42 !important;
    font-weight: 0 !important;
}