.logo-image {
    width: 29% !important;
}

@media only screen and (max-width: 768px) {
    .logo-image {
        width: 55% !important;
    }
}

.orange-label {
    font-size: x-large !important;
    font-weight: 100 !important;
}

.link-back-to-login {
    text-align: right;
    color: #ef9631;
    margin-bottom: 13px;
    padding-right: 4px;
}

.link-back-to-login .ui-link {
    font-weight: 100;
}

.change-password-container {
    margin-bottom: 61px;
}

@media only screen and (max-width: 768px) {
    .change-password-container {
        margin-bottom: 155px;
    }
}

.btn-nav-bar {
    border-color: #282d42 !important;
}

.btn-nav-bar img {
    width: 35px;
    height: 35px;
}

.page-footer {
    background-color: #282d42 !important;
    border-color: #282d42 !important;
    font-weight: 0 !important;
}
