.logo-image {
    width: 78% !important;
}

.login-container {
    width: 44%;
    float: left;
    margin-left: -17px;
    margin-right: 50px;
}

.register-container {
    width: 44%;
    float: left;
}

.forgot-password {
    text-align: center;
}

.vl {
    float: left;
    border-left: 3px solid #f09836;
    height: 267px;
    margin-right: 46px;
}

.ui-content {
    width: 89% !important;
}